doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="theme-color" content="#111111")
    title CARLOSRM | Fotografia
    meta(name="description" content="")
    meta(name="author" content="Kuroi Kyu")
    // meta(name="keywords" content="Projects, Portfolio, Kuroi, Kyu, HTML, CSS, JavaScript")

    // Responsive meta tag
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Normalize HTML5 Reset
    link(rel="stylesheet" href="node_modules/normalize.css/normalize.css")
    // Normalize HTML5 Reset
    link(rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css")
    // Dosis font from Google Fonts
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:200,300,400")

    // styles.css link
    link(rel="stylesheet" href="assets/css/styles.css")

  body
    .image
    .alt-image
    .container
      h1
        span.primary CARLOSRM
        span.secondary FOTOGRAFIA

      main
        ul.social
          li: i.fa.fa-instagram
          li: i.fa.fa-500px
          li: i.fa.fa-facebook
      .button
        a(href="mailto:contact@carlosrmfotografia.com", target="_top") contact@carlosrmfotografia.com

    footer
      span.copy &copy; 2017 KUROI KYU

    // script.js link
    script(type="application/javascript", src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(type="application/javascript", src="assets/js/script.js")
